.App {
  text-align: center;
}
.cart-wrapper {
}
.btn-wrapper {
  padding: 10px 0;
}
.btn-wrapper button {
  padding: 10px 15px;
  background-color: crimson;
  color: #fff;
  font-size: 1.2em;
  outline: none;
  border: none;
  width: 30%;
}
